*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.title{
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 150%;
color: #111928;
}
/* <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar"> */
@media screen  and (max-width: 630px){
  #logo-sidebar{
      /* left:260px; */
  }
  
}

